---
layout: page
title: Contact
permalink: /contact/
---
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<!-- Event snippet for contact conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
      'send_to': 'AW-11180024970/PCWLCICztdYaEIrJhtMp',
      'value': 0.0,
      'currency': 'USD',
      'event_callback': callback
    });
    return false;
  }
</script>


<div class="form-box">
  <div class="contact-head">
      <p align="center"> If you have any questions about my tutoring, send them here! </p>
  </div>
  <form class="form" action="{% if site.data.settings.contact.email %}https://formspree.io/f/{{site.data.settings.contact.email}}{% else %}#{% endif %}" method="POST">
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-name">Your Name</label>
      <input class="form__input" id="form-name" type="text" name="name" placeholder="Name" required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-email">Your Email</label>
      <input class="form__input" id="form-email" type="email" name="_replyto" placeholder="Email" required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-text">Your Message</label>
      <textarea class="form__input" id="form-text" name="text" rows="10" placeholder="Message" required></textarea>
    </div>
    <div class="g-recaptcha" align="center" style="margin-bottom: 20px;" data-sitekey="6LchSQ8qAAAAANqEbVSmEj5nkSd3oOO-4kb-lHMp"></div>
    <div align="center" class="form__group">
      <button
              class="button button--primary" type="submit"
              onclick="gtag_report_conversion()"
      >
        Send Message
      </button>
    </div>
  </form>

  <br></br>
  <div align="center">
    <p>If you wanted to book a session, use the button below:</p>
    {% include book-button.html %}
  </div>
</div>