<ul class="feature-list">
<!--    <li class="feature-item">Remaining LIVE small group classes for high-performing students</li>-->
    <li class="feature-item">15 hours of recordings for every class</li>
    <li class="feature-item"><i style="white-space: nowrap;">SAT Math from the Ground Up</i>&nbsp;included</li>
    <li class="feature-item">PrepPros book with 1500+ problems included</li>
    <li class="feature-item">Schedule to guide you through each week</li>
    <li class="feature-item"><b>Most students end with a 750+</b></li>
</ul>