<!-- begin hero -->

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
            <div class="center" align="center">
              <h1 class="hero__title">Hi, I'm Eric.</h1>
              <p class="hero__description">
                I've helped over 100 students improve their SAT math scores using scientifically based strategies.
                After earning a perfect score twice and tutoring the test for {{ site.data.settings.stats.years }} years, I'm confident that my strategies work.
              </p>
              <p class="hero__description">Let's get your score up!</p>
              {% include book-button.html %}
              <br>
              <p class="hero__description">Trying to get a 750 or higher? Check out my group class:</p>
              <div align="center">
                <a href="/academy" class="button button--large section-button">800 Academy</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->