<div class="restrict--width">
    <br>
    <h1 align="center" class="section__title">Pricing Options</h1>
    <p align="center">Here's a look dat the prices for my tutoring. Be sure to book a free trial session first!</p>

    <div class="panel--holder">
        <div align="center">
            <h1><b>On Demand</b></h1>
            <p class="pricing--text">1-on-1 tutoring anytime you want. Pay AFTER each session. No long-term commitment.</p>
            <br><br><br>
            <h2 class="reduced--header former--price"><s>$60/hr</s></h2>
            <h1 class="reduced--header">$45/hr</h1>
        </div>

        <div align="center">
            <h1><b>8 Hr Bundle</b></h1>
            <p class="pricing--text"> 8 hours of tutoring <br> 3-6 practice tests <br> One payment in advance </p>
            <p class="pricing--text"> Estimated 30-70 point improvement </p>
            <h2 class="reduced--header former--price"><s>$480</s></h2>
            <h1 class="reduced--header">$320</h1>
        </div>

        <div align="center">
            <h1><b>20 Hr Bundle</b></h1>
            <p class="pricing--text"> 20 hours of tutoring <br> 7-15 practice tests <br> One payment in advance </p>
            <p class="pricing--text"> Estimated 50-150 point improvement </p>
            <h2 class="reduced--header former--price"><s>$1200</s></h2>
            <h1 class="reduced--header">$740</h1>
        </div>
    </div>
    <br>
    <br>
</div>
