<!-- begin hero -->
<!-- Edit THIS file -- NOT index.html -->

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
            <div class="center" align="center">
              <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
              <p class="hero__description">
                {{ site.data.settings.hero.hero__description }}
              </p>
              <p class="hero__description">Send me an email and we'll schedule a session!</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->