<section class="container">
        <br>
        <h1 align="center" class="section__title">Pricing</h1>
        <p style="text-align: center; width: 500px; margin: auto;">Payments are preferred through Zelle or Venmo if you're in the US, or PayPal if you're outside the US.</p>
        <br>
        <div class="panel--holder">
                <div class="panel--content" align="center">
                    <h1><b>On Demand</b></h1>
                    <p class="pricing--text">1-on-1 tutoring anytime you want. Pay after each session.</p>
                    <p class="pricing--text"></p>
                    <h2 class="reduced--header current-price">$85/hr</h2>
                </div>

                <div class="panel--content" align="center">
                    <h1><b>8 Hour Plan</b></h1>
                    <p class="pricing--text"> 8 hours of tutoring <br> One payment in advance </p>
                    <p class="pricing--text"> Estimated 70-150 point improvement </p>
                    <h5 class="reduced--header former-price">$74/hr</h5>
                    <h2 class="reduced--header current-price">$595</h2>
                </div>
        </div> 
        <br>
        <br>
</section>
