<!-- begin hero -->

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
            <div class="center" align="center">
              <h1 class="hero__title">Hi, I'm Eric.</h1>
              <p class="hero__description">
                I'm an SAT Math tutor at the University of Virginia here to help you improve your score.
                After earning a perfect score twice and tutoring the test for {{ site.data.settings.stats.years }} years, I'm confident that my strategies work.
              </p>
              <p class="hero__description">Send me an email and we'll schedule a session!</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->