<details>
    <summary>What score do I need to enter the class?</summary>
    <div>
        The Masterclass is designed for students currently scoring between a <b>630 and 750</b>, who are aiming for a 750-800. If you're below a 630, you can still join, but you'll need to work <i>extra hard</i> to keep up.
    </div>
</details>
<details>
    <summary>Why is the PrepPros book not included? How much is it?</summary>
    <div>
        I don't get free access to the book--I buy watermarked copies for each student. With students joining the asynchronous class constantly, it's much easier to handle book purchases on the students' end.
        <br><br>
        You can get a physical copy for $35 or a digital copy for $29.75 using the code ERIC15 at checkout.
        <br><br>
        And yes, <b>every single student who joins the Masterclass should buy the book!</b>
    </div>
</details>
<details>
    <summary>Can I email you with questions?</summary>
    <div>
        Short questions and logistical questions? Yes, of course!
        <br><br>
        Longer questions about content? Book a 1-on-1 session and we'll be able to go much deeper about the material than in an email conversation.
    </div>
</details>
<details>
    <summary>How should I follow the material from the class?</summary>
    <div>
        Upon purchasing, you'll be sent a syllabus that tells you exactly which chapters in <i>SAT Math from the Ground Up</i> and the <i>PrepPros</i> book to complete alongside each recording.
        <br><br>
        I also spend around 15 minutes in the first session detailing how <b>best</b> to utilize both resources. This is arguably the most important part of the entire class!
    </div>
</details>
<details>
    <summary>When exactly do the recordings get posted?</summary>
    <div>
        It takes a few hours for each recording to be processed, so I try to upload them to the syllabus 6-24 hours after each session.
        <br><br>
        And as a reminder, each cohort is <i>ongoing</i> up until 1-2 weeks before its respective SAT.
    </div>
</details>
<details>
    <summary>Do you guarantee a 750+?</summary>
    <div>
        I <b>do not</b> offer score guarantees. Almost every test prep platform with score guarantees has caveats in the fineprint (i.e. "must complete all 500 hours of material").
        <br><br>
        Instead, I let the results of my students speak for themselves. Every Masterclass student who has put the requisite time and effort to get a 750 has achieved it. I don't want a score guarantee to relieve students of accountability or disincentivize perseverance.
    </div>
</details>
<details>
    <summary>Can I get a refund if I change my mind?</summary>
    <div>
        Since purchasing the class instantly sends you the syllabus and all recordings, I <b>do not</b> offer refunds.
        <br><br>
        If you're unsure about joining, <b>please reach out!</b> I'm happy to address any questions or concerns.
    </div>
</details>
