<details>
    <summary>What score do I need to enter the class?</summary>
    <div>
        The Masterclass is designed for students currently scoring between a <b>630 and 750</b>, who are aiming for a 750-800. If you're below a 630, you can still join, but you'll need to work <i>extra hard</i> to keep up.
    </div>
</details>
<details>
    <summary>What if I need to miss a session?</summary>
    <div>
        No worries! Every session will be <b>recorded</b>, so you'll never get behind. If you have questions from the recording, you're welcome to send them by email.
    </div>
</details>
<details>
    <summary>How small is the class?</summary>
    <div>
        The Masterclass has a <b>hard cap</b> of <b>15 students.</b> It's much lower than most test prep, because I want the class to feel like a <b>discussion</b>, not a lecture.
        <br><br>
        Also, since the sessions are recorded, expect a lot of absences. Typically each session is only 50-75% full, so don't worry, it's <b>far</b> more interactive than your typical high school class.
    </div>
</details>
<details>
    <summary>What's the difference between the Standard and Advanced plans?</summary>
    <div>
        While all Masterclass students are aiming for top scores, some students want to push harder than others. So, I've developed two distinct plans:
        <br><br>
        The <b>Standard Plan</b> is around 4-5 hours a week outside of classes, for students aiming for a 700-760 / generally an 80-100 point improvement.
        <br><br>
        The <b>Advanced Plan</b> is around 6-10+ hours a week outside of classes, for students who are gunning for a perfect score.
        <br><br>
        The main difference aside from volume is that the Standard Plan uses <b><a href="https://www.oneprep.xyz/question-bank" target="_blank">OnePrep</a></b> for practice problems and the Advanced Plan uses the <b><a href="https://preppros.teachable.com/p/my-downloadable-110389" target="_blank">PrepPros</a></b> book.
    </div>
</details>
<details>
    <summary>Do I need to buy myself any additional resources?</summary>
    <div>
        Not with the Standard Plan! (see the question above for clarification on what the standard plan is)
        <br><br>
        With the Advanced Plan, I highly recommend students buy the <a href="https://preppros.teachable.com/p/my-downloadable-110389" target="_blank">PrepPros Complete Guide to Digital SAT Math</a> and the answer explanation videos, which total to around $50.
        <br><br>
        OnePrep and PrepPros are both <b>great</b> resources for practice problems. However, PrepPros has a greater share of niche challenging problems. If you're going for an 800, these are essential! But for a 700-750, these niche problems can end up a distraction from the core material. That's why I no longer buy <i>every</i> student the PrepPros book (like I did in the fall).
    </div>
</details>
<details>
    <summary>How do office hours work?</summary>
    <div>
        Office hours are a chance for students to get <b>personalized</b> help with any topics/problems they're struggling with, live in a Google Meet call with other students.
        <br><br>
        Sometimes, students don't have any particular questions, but still tune in to the call in case anything interesting comes up!
    </div>
</details>
<details>
    <summary>What if a session gets cancelled?</summary>
    <div>
        Schedules aren't always predictable this far in advance!
        <br><br>
        If I ever need to cancel a session due to sickness or major events, we'll reschedule to Tuesday 7:00 - 8:30 pm ET the following week.
    </div>
</details>
<details>
    <summary>Do you guarantee a 750+?</summary>
    <div>
        I <b>do not</b> offer score guarantees. Almost every test prep platform with score guarantees has caveats in the fineprint (i.e. "must complete all 500 hours of material").
        <br><br>
        Instead, I let the results of my students speak for themselves. Nearly every Masterclass student who has put the requisite time and effort to get a 750 has achieved it. I don't want a score guarantee to relieve students of accountability or disincentivize perseverance.
    </div>
</details>
<details>
    <summary>Can I get a refund if I change my mind?</summary>
    <div>
        Within 7 days from the first session, you're able to request a <b>full refund</b> of the masterclass, no questions asked.
        <br><br>
        If you get a refund, you'll lose access to the class's recordings and resources. So far, however, I have not had a single one of the 80+ masterclass students request a refund. Hope to keep it that way!
    </div>
</details>
