<div class="pricing-wrapper" style="background-color: #FFFFFF">
    <div class="pricing-container" style="max-width: 500px;">
        <div class="pricing-card">
            <div class="card-header">
                <h2 class="card-title">Masterclass (Async)</h2>
                <span class="popular-tag">BEST VALUE</span>
            </div>
            <div class="price-container">
                <span class="price">
                    ${{ site.data.settings.stats.class-async }}
                </span>
            </div>
            {% include masterclass/async-list.html %}
            <div>
                <p style="font-size: 14px; margin-bottom: 10px;">Async students get a ${{ site.data.settings.stats.class-async }} discount on any live cohort in the future.</p>
            </div>
            <a href="https://buy.stripe.com/eVq3cocXA9V11mofii6wE0v" target="_blank">
                <button class="enroll-button">Enroll Now</button>
            </a>
        </div>
    </div>
</div>