<ul class="feature-list">
    <!--    <li class="feature-item">Remaining LIVE small group classes for high-performing students</li>-->
    <li class="feature-item">15 hours of recordings for every class</li>
    <li class="feature-item"><i style="white-space: nowrap;">SAT Math from the Ground Up</i>&nbsp;included</li>
    <li class="feature-item">Schedule to guide you through each week</li>
    <li class="feature-item">Resources & extra practice problems</li>
    <li class="feature-item-negative">Access to live sessions</li>
    <li class="feature-item-negative">Free PrepPros Book (but 15% discount is provided)</li>
</ul>