<ul class="feature-list">
    <!--    <li class="feature-item">Remaining LIVE small group classes for ambitious students</li>-->
    <li class="feature-item"><b>15 hours of recordings of every class</b></li>
    <li class="feature-item"><i style="white-space: nowrap;">SAT Math from the Ground Up</i>&nbsp;included</li>
    <li class="feature-item">Recordings of office hours sessions included</li>
    <li class="feature-item">Schedule & resources to keep you on track for a 750+</li>
    <li class="feature-item">Discord server to collaborate with other students</li>
    <li class="feature-item-negative">Access to live sessions or office hours</li>
    <li class="feature-item-negative">Free PrepPros Book (but 15% discount is provided)</li>
</ul>