<style>
    h3 {
        text-align: center;
        font-weight: normal;
        max-width: 720px !important;
        margin: auto !important;
    }
</style>

<div style="text-align: center; margin-top: 3rem;">
        <div style="max-width: 600px; text-align: center; margin: auto;">
            <h3>Get started right away with the <b>asynchronous class</b>, watching the October cohort's recordings and studying the materials at your own pace.</h3>
        </div>
</div>

{% include masterclass/async-card.html %}