<ul class="feature-list">
    <!--    <li class="feature-item">Remaining LIVE small group classes for ambitious students</li>-->
    <li class="feature-item"><b>15 hours of small group class recordings for high scoring students</b></li>
    <li class="feature-item"><i style="white-space: nowrap;">SAT Math from the Ground Up</i>&nbsp;included</li>
    <li class="feature-item">Schedule & resources to keep you on track for a 750+</li>
    <li class="feature-item">Discord server to collaborate with other students</li>
</ul>