<style>
    .faq {
        /* apparently 780px is page max-width */
        max-width: 780px;
        margin: auto;
        margin-bottom: 4rem;
    }
</style>

<div class="faq" id="faq">
    <div style="text-align: center; margin-bottom: 3rem;">
        <h2 class="highlighted">FAQ</h2>
        <br><br>
        Have questions beyond the FAQ? Send them through my <a href="http://learnsatmath.com/contact/">contact form</a> or book a <b><a href="https://calendly.com/eric-wolpert-learnsatmath/masterclass-consultation">consultation call</a></b> to briefly chat before booking.
    </div>

    <details>
        <summary>What if I need to miss a session?</summary>
        <div>
            No worries! Every session will be <b>recorded</b>, so you'll never get behind. If you have questions from the recording, you're welcome to send them by email.
        </div>
    </details>
    <details>
        <summary>What score do I need to enter the class?</summary>
        <div>
            The Masterclass is designed for students currently scoring between a <b>630 and 750</b>, who are aiming for a 750-800. If you're below a 630, you can still join, but you'll need to work <i>extra hard</i> to keep up.
        </div>
    </details>
    <details>
        <summary>How small is the class?</summary>
        <div>
            The Masterclass has a <b>hard cap</b> of <b>14 students.</b> It's much lower than most test prep, because I want the class to feel like a <b>discussion</b>, not a lecture.
            <br><br>
            Also, since the sessions are recorded, expect a lot of absences. Typically each session is only 50-75% full, so don't worry, it's <b>far</b> more interactive than your typical high school class.
        </div>
    </details>
    <details>
        <summary>Do I need to buy myself the PrepPros book?</summary>
        <div>
            Nope! I provide every student with a digital copy of the book. If you'd prefer a physical copy, you can purchase one for yourself off Amazon.
        </div>
    </details>
    <details>
        <summary>How do office hours work?</summary>
        <div>
            Office hours are a chance for students to get <b>personalized</b> help with any topics/problems they're struggling with. Students are welcome to join and leave the call as they wish, and we'll have a queue for questions.
        </div>
    </details>
    <details>
        <summary>Do you guarantee a 750+?</summary>
        <div>
            I <b>do not</b> offer score guarantees. Almost every test prep platform with score guarantees has caveats in the fineprint (i.e. "must complete all 500 hours of material").
            <br><br>
            Instead, I let the results of my students speak for themselves. Every Masterclass student who has put the requisite time and effort to get a 750 has achieved it. I don't want a score guarantee to relieve students of accountability or disincentivize perseverance.
        </div>
    </details>
    <details>
        <summary>What's covered in the review session?</summary>
        <div>
            The review session is probably my favorite part of the class. We play a series of games testing every topic at a high level, as well as the <i>hardest</i> problems from past SATs. There will be prizes for the top students (last cohort it was $50 haha).
        </div>
    </details>
    <details>
        <summary>Can I get a refund if I change my mind?</summary>
        <div>
            Within 7 days from the first session, you're able to refund 3/4 of the class's price. So, if the class is $1000, I'll refund $750.
            <br><br>
            If you get a refund, you'll no longer have access to any of the class's recordings or resources. So far, however, I have not had a single student out of 50+ students request a refund. Hope to keep it that way!
        </div>
    </details>
    <details>
        <summary>What if YOU (Eric) need to miss a session?</summary>
        <div>
            I've never cancelled a class, but in the case of sickness, technical difficulties, or an emergency, I might need to.
            <br><br>
            If I need to cancel, I'll send out a "when2meet" to see which times everyone is free, and reschedule the session to the best time. In the worst case scenario, you'll need to watch the recording.
        </div>
    </details>
</div>