<style>
    h3 {
        text-align: center;
        font-weight: normal;
        max-width: 720px !important;
        margin: auto !important;
    }

    .enroll-button {
        max-width: 300px;
        display: block;
        text-align: center;
        margin: auto;
        font-size: 20px;
    }
</style>

<div style="text-align: center;">
    <div class="pricing-wrapper" style="background-color: #FFFFFF;">
        <div class="pricing-container">
            <div class="pricing-card" style="max-width: 600px; margin: auto;">
                <h3>Submit your interest here for priority enrollment:</h3>
                <div style="text-align: center; margin-top: 2rem;">
                    <a href="https://forms.gle/c3snjhAjX2MGu4EC8" class="enroll-button" target="_blank"><b>Send interest</b></a>
                </div>
            </div>
        </div>
    </div>
</div>

