<style>
    .selling-point {
        display: flex;
        gap: 4rem;
        position: relative;
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.3s ease;
        margin: 8rem;
    }

    /* used to make the sections appear on scroll */
    .selling-point.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .selling-point.visible:hover {
        transform: scale(1.03);
    }
    .image-container {
        flex: 1;
        height: 300px;
        background-color: #ffffff;
        border-radius: 0;
    }
    .text-container {
        flex: 1;
    }
    .highlighted {
        display: inline-block;
        background-image: linear-gradient(to bottom, transparent 60%, rgba(255, 215, 0, 0.4) 60%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 0 10px;
        margin: 0;
    }
</style>

<div class="selling-point">
    <div class="image-container">
        <img src="/images/chart.PNG" alt="Master the SAT Math">
    </div>
    <div class="text-container">
        <h2 class="highlighted">Only the Hardest Material 👑</h2>
        <br><br>
        Struggling with the end of module 2? Unlike most SAT classes, the Masterclass is designed specifically for <b>ambitious</b> students aiming for a perfect or near-perfect score.
        <br><br>
        Over the past year and a half, <b>the majority</b> of masterclass students ended with a <b>750 or higher</b> (top 2%).
    </div>
</div>

<div class="selling-point">
    <div class="image-container">
        <img src="/images/masterclass.png" alt="Discussion, not a Lecture">
    </div>
    <div class="text-container">
        <h2 class="highlighted">Discussion, not a Lecture 💬</h2>
        <br><br>
        The Masterclass is 100% <b>LIVE</b> with a <b>hard cap</b> of 15 students, so students freely ask questions and talk through their ideas. Active engagement is not just encouraged--it's <b>necessary</b> to learn effectively. We also do games and prizes for some friendly competition!
    </div>
</div>

<div class="selling-point">
    <div class="image-container">
        <img src="/images/conceptguide4.PNG" alt="Learn from First Principles">
    </div>
    <div class="text-container">
        <h2 class="highlighted">Learn from First Principles🧠</h2>
        <br><br>
        While most test prep focuses on <i>how</i> to get an answer, we focus on <b>why</b> these approaches work. I provide every student a free copy of my book <a href="https://learnsatmath.com/book/" target="_blank"><i>SAT Math from the Ground Up</i></a>, which includes over 200 conceptual questions and explanations to help solidify the class material.
    </div>
</div>

<div class="selling-point">
    <div class="image-container">
        <img src="/images/desmos_tricks.PNG" alt="Learn from Doing">
    </div>
    <div class="text-container">
        <h2 class="highlighted">Master Desmos 📈</h2>
        <br><br>
        At least 50% of problems can be solved more quickly and reliably with desmos, but most courses and tutors have failed to adapt their curriculum (including Khan Academy!).
        <br><br>
        The Masterclass, on the other hand, is frontloaded with a desmos crash course and includes extensive drills.
    </div>
</div>

<div class="selling-point" style="margin-bottom: 0;">
    <div class="image-container">
        <img src="/images/structured_practice_2.PNG" alt="A Clear Path to Test Day">
    </div>
    <div class="text-container">
        <h2 class="highlighted">A Clear Path to Test Day 📅</h2>
        <br><br>
        Students can follow the "Standard Plan" for a 700-760 or the "Advanced Plan" for a perfect/near-perfect score. Each plan tells students <i>exactly</i> what to do and how much time to spend to reach their goals.
        <br><br>
        If students aren't making the progress they want to see, we'll form a more personalized study plan. Accountability is key!
    </div>
</div>