.panel--holder {
  display: flex;
  align-content: center;
  justify-content: center;
  // user-select: none; // prevents highlighting
}

.panel--content {
  align-items: center;
  margin: 10px;
  word-wrap: break-word;

  padding: 20px 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  border-radius: 12px; // curved edges
  background: var(--brand-color); // yellow

  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  ::selection {
    background-color: #3297FD;
    color: white;
  }
}

.panel--holder div {
  align-items: center;
  margin: 10px;
  width: 100%;
  word-wrap: break-word;

  padding: 20px 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  border-radius: 12px; // curved edges
  background: var(--brand-color); // yellow

  ::selection {
    background-color: #3297FD;
    color: white;
  }
}

.reduced--header {
  line-height: 0px;
  font-family: $base-font-family; // changing font
}

.former--price {
  text-decoration: line-through;
  color: var(--text-color);
}

.current-price {
  color: var(--price-color);
  font-size: 32px;
}

.pricing--text {
  line-height: 1.5em;
}

.restrict--width {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
}